.container-fluid{
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    font-family: "montserrat", sans-serif;
}

/* Utils */

.text-gray{
    color:lightgray;
}

.text-gray:hover{
    color: white;
}

/* Nav */

nav{
    min-width: 200px;
    width: 200px;
    background-color: black;
    color: white;
    position: fixed;
    height: calc(100vh - 100px);
    line-height: 40px;
    font-size: 13px;
}

nav .row{
    padding-left: 15px;
}

#logo{
    height: 40px;
    margin: 15px 0;
}

#logo-small{
    height: 30px;
}

nav .gray-img{
    width: 30px;
    vertical-align: middle;
}

nav .fa-plus-square{
    font-size: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

nav h2{
    font-weight: 900;
    margin-top: 15px;
    text-transform: uppercase;
}

nav ul{
    list-style-type: none;
}

nav > .row:nth-of-type(2){
    border-left: 2px solid lime;
}

nav .gray-img{
    filter: invert(0.1);
}

nav .row:hover > .gray-img{
    filter: invert(0);
}

nav .profile{
    width: 100%;
    background-color: black;
    padding: 5px 5px;
    position: fixed;
    width: 200px;
    bottom: 100px;
}

nav .profile .row{
    padding-left: 0;
}

.profile #arrow{
    height: 15px;
    margin-top: 14px;
}

.profile hr{
    width: 90%;
    margin: auto;
}

.profile .profile-pic{
    background-color: gray;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

.profile .profile-pic img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.profile .name{
    font-weight: 900;
    font-size: 15px;
    margin-top: 4px;
    margin-left: 5px;
}

.appear{
    visibility: hidden;
}

@media screen and (max-width: 575px) {
    nav{
        width: 70px;
        min-width: 70px;
    }

    #logo-small{
        margin-top: 20px;
    }

    img{
        margin-bottom: 15px;
    }

    .disappear{
        display: none;
    }

    .appear{
        visibility: visible;
    }

    nav .row:nth-of-type(2){
        border-left: none;
    }

    nav .profile{
        width: 70px;
    }

    #arrow{
        margin-left: 12px;
    }
}

@media screen and (max-height: 550px) {
    nav .profile{
        top: 355px;
        height: 96px;
    }
}


/* MAIN */

main{  
    width: calc(100% - 200px);
    background-color: rgb(22,24,36);
    margin-left: 200px;
}

@media screen and (max-width: 575px) {
    main{
        width: calc(100% - 70px);
        margin-left: 70px;
    }
}

/* Main Header */

main .main-header{
    height: 100px;
    width: calc(100vw - 200px);
    min-height: 100px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
}

.main-header p{
    text-align: center;
    height: 60px;
    width: 300px;
    border: 2px solid white;
    border-radius: 35px;
    line-height: 60px;
    margin-top: 20px;
    margin-right: 3%;
}

.main-header p:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 575px) {
    main .main-header{
        width: calc(100vw - 70px);
    }
}

main .main-content{
    padding-top: 150px;
    color: white;
    flex-direction: column;
}

/* Footer */

footer{
    height: 100px;
    min-height: 100px;
    width: 100%;
    background-color: gray;
    position: absolute;
    bottom: 0;
}